/* color palettes */
$white: #ffffff;
$black: #121212;
$gray: #1C1A1B;
$orange-100: #FCE7D1;
$orange-200: #F3B562;
$yellow: #FFE040;
$red: #F06060;
$green: #8CBEB2;

/* fonts */
$main-font: 'Rubik',
sans-serif;
$second-font: 'Oswald',
sans-serif;
$third-font: 'Manrope',
sans-serif;